.header-text .nav-item-text a{
	color:aliceblue;
	transition: all 0.2s ease-in-out;
}

.header-text .nav-item-text a:hover {
	background: 0 0;
	border: 0;
	border-radius: var(--bs-nav-pills-border-radius);
	background-color: hsla(0, 0%, 100%, .05);
}

hr {
	margin: 1rem 0;
	color: currentColor;
	background-color: currentColor;
	border: 0;
	opacity: 0.25;
}

.nav-main-drop {
	color: aliceblue;
}

.nav-main-drop:hover{
	background: 0 0;
	border: 0;
	color:aliceblue;
	border-radius: var(--bs-nav-pills-border-radius);
	background-color: hsla(0, 0%, 100%, .05);
}

.nav-main-drop a:active {
	color: aliceblue;
}

.dropdown-menu {
	width: 100%;
	background: 0 0;
	border: 0;
	color:aliceblue;
	border-radius: var(--bs-nav-pills-border-radius);
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(50px);
}